<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>bindec</title>
  </head>
  <body>
        <br/>

      <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 ">
                <h3>
                   Instructions
                </h3>
            </div>
            <div class="col-md-4">
                   <a href="/">Home</a>
        
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <dl>
                    <dd>
                            Add up the corresponding values of the binary index based on their position from right to left  eg:
                    </dd>
                </dl>
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                Binary
                            </th>
                            <th>
                                Decimal
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr><td>00000001</td><td>1</td></tr>
                            <tr><td>00000010</td><td>2</td></tr>
                            <tr><td>00000011</td><td>3</td></tr>
                            <tr><td>00000100</td><td>4</td></tr>
                            <tr><td>00000101</td><td>5</td></tr>
                            <tr><td>00000110</td><td>6</td></tr>
                            <tr><td>00000111</td><td>7</td></tr>
                            <tr><td>00001000</td><td>8</td></tr>
                            <tr><td>etc..</td><td></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <br/>
        <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>
                            Lookup Table:
                        </dt>
                    </dl>
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr><th>Index (x)</th><th>Value (2<sup>x</sup>)</th></tr>
                        </thead>
                        <tbody>
                                <tr><td>0</td><td>1</td></tr>
                                <tr><td>1</td><td>2</td></tr>
                                <tr><td>2</td><td>4</td></tr>
                                <tr><td>3</td><td>8</td></tr>
                                <tr><td>4</td><td>16</td></tr>
                                <tr><td>5</td><td>32</td></tr>
                                <tr><td>6</td><td>64</td></tr>
                                <tr><td>7</td><td>128</td></tr>
                        </tbody>
                    </table>
                    <br/>
                    <br/>
                </div>
                <div class="col-md-4">
                </div>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
  <loom-container id="lo-engage-ext-container"><loom-shadow classname="resolved"></loom-shadow></loom-container>
  
  </html>